
<div style="background-color:#333;padding:15px;">

    <a href="/" style="color:white;margin-right:20px;">🏠 Home</a>

    <a href="/userspage" style="color:white;margin-right:20px;">👤 Users</a>

    <a href="/expensespage" style="color:white;margin-right:20px;">💰 Expenses</a>

    <a href="/transactionspage" style="color:white;margin-right:20px;">📜 Transactions</a>

    <a href="/dashboardpage" style="color:white;margin-right:20px;">📊 Dashboard</a>

    <a href="/balancepage" style="color:white;">⚖ Balance</a>

    

</div>

