
<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<script>

if(sessionStorage.getItem("loggedIn") != "true"){

    window.location.href="/login.html";

}

</script>
<nav class="navbar">

    <a href="/">🏠 Home</a>

    <a href="/userspage">👤 Users</a>

    <a href="/expensespage">💰 Expenses</a>

    <a href="/transactionspage">📜 Transactions</a>

    <a href="/dashboardpage">📊 Dashboard</a>

    <a href="/balancepage">⚖ Balance</a>

    <a href="#" onclick="logout()">🚪 Logout</a>

    <button onclick="toggleTheme()" id="themeBtn">
    🌙 Dark Mode
</button>

</nav>

<br>

<h1>👤 Users</h1>
<div class="container">
<input type="text" id="name" placeholder="Enter user name">

<button onclick="addUser()">Add User</button>

<input
    type="text"
    id="searchUser"
    placeholder="🔍 Search User"
    onkeyup="loadUsers()">

<br><br>

<h2>All Users</h2>

<ul id="userList"></ul>
</div>
<script>

function addUser() {

    let name = document.getElementById("name").value;

    fetch("/users", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            name: name
        })
    })
    .then(response => response.json())
    .then(data => {

        alert("User Added Successfully");

        document.getElementById("name").value = "";

        loadUsers();

    });

}

function loadUsers() {

    fetch("/users")
    .then(response => response.json())
    .then(users => {

        let list = document.getElementById("userList");

        list.innerHTML = "";

        let searchText =
            document.getElementById("searchUser")
            .value
            .toLowerCase();

        users.forEach(user => {

            if(user.name.toLowerCase().includes(searchText)){

                list.innerHTML +=
                `
                <li>

                    ${user.id} - ${user.name}

                    <div>

                        <button onclick="editUser(${user.id}, '${user.name}')">
                            ✏ Edit
                        </button>

                        <button onclick="deleteUser(${user.id})">
                            🗑 Delete
                        </button>

                    </div>

                </li>

                <br>
                `;

            }

        });

    });

}

function editUser(id, name) {

    let newName = prompt("Enter new name:", name);

    if (newName == null) {
        return;
    }

    fetch("/users/" + id, {

        method: "PUT",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            name: newName
        })

    })
    .then(response => response.json())
    .then(data => {

        alert("User Updated Successfully");

        loadUsers();

    });

}

function deleteUser(id) {

    if(!confirm("Delete this user?")){
        return;
    }

    fetch("/users/" + id, {

        method: "DELETE"

    })
    .then(response => response.text())
    .then(data => {

        alert(data);

        loadUsers();

    });

}

loadUsers();

function logout(){

    sessionStorage.removeItem("loggedIn");

    window.location.href="/login.html";

}

function showToast(message){

    let toast = document.getElementById("toast");

    toast.innerHTML = message;

    toast.classList.add("show");

    setTimeout(() => {

        toast.classList.remove("show");

    },3000);

}
</script>
<div id="toast"></div>
<script>

function toggleTheme(){

    document.body.classList.toggle("light-mode");

    if(document.body.classList.contains("light-mode")){

        localStorage.setItem(

            "theme",

            "light"

        );

        document.getElementById("themeBtn")
        .innerHTML =
        "☀ Light Mode";

    }

    else{

        localStorage.setItem(

            "theme",

            "dark"

        );

        document.getElementById("themeBtn")
        .innerHTML =
        "🌙 Dark Mode";

    }

}



window.onload = function(){

    if(localStorage.getItem("theme")=="light"){

        document.body.classList.add(

            "light-mode"

        );

        document.getElementById("themeBtn")
        .innerHTML =
        "☀ Light Mode";

    }

}

</script>
</body>
</html>

